<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PEVA apskaita</title>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css" type="text/css">
</head>
    <body>
        <div class="container mt-3">
            <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error%>
            </div>
            <% }%>
            <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success%>
            </div>
            <% }%>
        </div>